---
---

@import "{{ site.theme }}";

a:hover {   
   font
  /*    text-shadow: 0 0 .5px #333, 0 0 .5px #333; */
  /* use the line below if you want a more intense effect */
  /* text-shadow: 0 0 .9px #333, 0 0 .9px #333, 0 0 .9px #333; */
}

 a {
  letter-spacing: 0em;
  transition: text-shadow .3s;
} 
